*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#FFF9F3;
    background: url(../images/developer.png) ,url(../images/header_bg.png) ,#FFF9F3;
    background-position: 25px 45px, bottom right;
    background-repeat: no-repeat;
    padding: 0px;
}

/* shared srtyles */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 50px;
    font-width: 900;

}
.color-orange{
    color: #FD6E0A;
}

.btn{
   background-color: #FD6E0A;
   border: none;
   padding: 25px 45px;
   border-radius: 10px;
   font-size: 30px;
   font-weight: bold;
   color: white;
    cursor: pointer;

}

.section-heading{
    max-width: 850px;
    text-align: center;
    margin: 0px auto;

}
.section-heading h2{
    font-size: 40px;
    margin-bottom: 35px;

}

.section-heading p{
    font-size: 20px;
    margin-bottom: 30px;
    list-height: 30px;
    color: #757575;
}
.text-center{
    text-align: center;
}


/* main style */

nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 60px;
    align-items: center;
}
nav .manu a{
    font-size: 30px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 1px solid red; */
    margin: 50px 45px 0px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-con{
    max-width: 900px;
}

#banner .banner-con h2{
     font-size: 50px;
     font-weight: 1000;
     color: #474747;
     margin-bottom: 20px;
}

#banner .banner-con h1{
    font-size: 99px;
    font-weight: bold;
    color: #181818;
    margin: 30px;
}
#banner .banner-con p{
     font-size: 30px;
     color: #757575;
     line-height: 30px
     margin-bottom: 30px;
}

#banner banner-image img{
   max-width: 1000px;
   vertical-align: middle;
}
#about , #skills , resume{
    padding-top: 130px;
}
#about .about-con{
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF9F3;
    padding: 140px 160px;
}
#about .about-con .About-info{
    display: flex;
    justify-content: space-around;

}
.About-info .info-card p{
      font-size: 25px;
    list-height: 30px;
    color: #757575;
}
.About-info .info-card h4{

    font-size: 20px;
}

#skills .skills-con{
    width: 70%;
    max-width: 1140px;
    margin: 0px auto;
}
#skills .skills-con .skills-box{
    display: flex;
    gap: 28px;
}
.skills-box .skill-card{
    padding: 35px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 40px 0 #00000040;
    max-width: 275px;
}
.skill-card img{
    max-width: 55px;
    margin-bottom: 35px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
         font-size: 20px;
     color: #757575;
     line-height: 25px
}
#resume .resume-con{
    width: 70%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 30px;
}
.resume-con hr{
    margin: 30px 0px;
}
.resume-con .section-title{
    color: #474747;
    font-size: 40px;
    margin-bottom: 35px;
}
.resume-card{
    max-width: 520px;
    margin-right: 50px;
}
.resume-card .card-title{

    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
     font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text{
     font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer{
    margin-top: 130px;
    background-color: #fff8f3;
    padding: 130px  0;
}

footer .footer-con{
width: 70%;
max-width: 1140px;
margin: 0px auto;
display: flex;
gap: 120px;
}
ccccc{
    max-width: 570px;
}

.footer-con .social p{
    color: #474747;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-con h2{
    color: #181818;
    font-size: 40px;
    margin-bottom: 30px;
}

.footer-con .icons a {
    margin-right: 30px;

}
.footer-con form input[type="text"] ,.footer-con form input textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}