*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#FFF9F3;
    background: url(../images/developer.png) ,url(../images/header_bg.png) ,#FFF9F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding: 0px;
}

/* shared srtyles */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 50px;
    font-width: 900;

}
.color-orange{
    color: #FD6E0A;
}

.btn{
   background-color: #FD6E0A;
   border: none;
   padding: 25px 45px;
   border-radius: 10px;
   font-size: 30px;
   font-weight: bold;
   color: white;
    cursor: pointer;

}

/* main style */

nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 60px;
    align-items: center;
}
nav .manu a{
    font-size: 30px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 1px solid red; */
    margin: 50px 45px 0px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-con{
    max-width: 900px;
    ;
}

#banner .banner-con h2{
     font-size: 50px;
     font-weight: 1000;
     color: #474747;
     margin-bottom: 20px;
}

#banner .banner-con h1{
    font-size: 99px;
    font-weight: bold;
    color: #181818;
    margin: 30px;
}
#banner .banner-con p{
     font-size: 30px;
     color: #757575;
     line-height: 30px
     margin-bottom: 30px;
}

#banner banner-image img{
   max-width: 1000px;
   vertical-align: middle;
}